html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, thead, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! Flickity v2.0.4
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

a {
  color: #fff;
  text-decoration: none; }

.red {
  background-color: #ff4e50; }

.yellow {
  background-color: #ffa507; }

.green {
  background-color: #1cd7ad; }

.blue {
  background-color: #4e73db; }

.button {
  display: inline-block;
  border-radius: 20px;
  font-weight: 700;
  padding: .5em;
  transition: .2s ease; }
  .button:hover {
    opacity: .6;
    transition: .2s ease; }

.section {
  min-width: 320px;
  padding: 0 1em;
  text-align: center; }
  .section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 3px 35px;
    line-height: 1.5em;
    margin-bottom: .7em; }
  .section__button {
    padding: .6em 1.3em;
    background-color: #ff4e50;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .7em;
    transition: .2s ease;
    border: 4px solid #ff4e50;
    cursor: pointer; }
    .section__button:hover {
      color: #fff;
      transition: .2s ease;
      opacity: .9; }
  .section__title {
    font-size: 1.37em;
    color: #000;
    padding-top: 1.4em;
    font-weight: 700;
    padding-bottom: .7em;
    line-height: 1.3em; }
  .section__name {
    color: #000;
    font-weight: 700;
    font-size: .9em;
    margin: .8em; }

.big-button {
  width: 17em;
  padding: .8em;
  text-transform: none;
  font-size: inherit; }

.signUp {
  border: 3px solid #fff; }

.title {
  font-size: 1.3em;
  margin-top: 5.5em;
  margin-bottom: 1.4em; }

.special-title {
  font-size: 1.9em;
  text-transform: uppercase;
  line-height: 1.3em; }

.navigation__item {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 300;
  font-size: .9em;
  padding: 0 .3em; }
  .navigation__item:hover {
    color: #d4d4d4; }

.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }

.sprite-coffee {
  width: 16px;
  height: 17px;
  background-position: -5px -5px; }

.sprite-jar {
  width: 13px;
  height: 16px;
  background-position: -31px -5px; }

.sprite-plane {
  width: 17px;
  height: 16px;
  background-position: -31px -31px; }

.sprite-tv {
  width: 17px;
  height: 17px;
  background-position: -58px -5px; }

.header {
  background: url("../images/mobile/bg.png") center no-repeat;
  text-align: center;
  min-height: 540px;
  background-size: cover; }

.actions {
  padding-top: 1.2em; }

.block__item {
  width: 300px;
  height: 240px;
  background-size: cover;
  margin: 0 auto;
  padding-top: 3em;
  border-radius: 10px;
  margin-bottom: .5em;
  text-align: left; }

.block__title {
  font-size: 1.5em;
  margin-top: .7em;
  line-height: 1.2em; }

.block__text {
  color: #b3b2b1;
  font-size: .9em;
  padding: 0;
  margin-top: 1em;
  line-height: 1.3em; }

.step1 {
  background-image: url("../images/mobile/pic1.jpg"); }

.step2 {
  background-image: url("../images/mobile/pic2.jpg"); }

.step3 {
  background-image: url("../images/mobile/pic3.jpg"); }

.interest__input {
  width: 18.5em;
  padding: .8em;
  margin: .7em 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; }

.interest__title {
  color: #000;
  font-family: 'Roboto', sans-serif; }

.interest__button {
  color: #fff; }
  .interest__button:hover {
    opacity: .8; }

.partners__profile {
  position: relative; }

.partners__item {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 1.4em; }

.partners__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  right: 2em; }

.partners__button {
  width: 17em;
  padding: .8em;
  text-transform: none;
  font-size: inherit;
  color: #ff4e50;
  border: 2px solid #ff4e50; }
  .partners__button:hover {
    color: #fff;
    background-color: #ff4e50; }

.activity {
  width: 18.5em;
  margin: 0 auto; }
  .activity__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: .6em;
    width: 100%;
    transition: .2s all ease;
    background-size: cover; }
    .activity__item:hover {
      opacity: .5;
      transition: .2s all ease; }
  .activity__title {
    color: #fff;
    padding: 0; }
  .activity .sport {
    background: url("../images/ideas_bg1.jpg") 100% 100% no-repeat;
    background-size: cover; }
  .activity .health {
    background: url("../images/ideas_bg2.jpg") 100% 100% no-repeat;
    background-size: cover; }
  .activity .extreme {
    background: url("../images/ideas_bg3.jpg") 100% 100% no-repeat;
    background-size: cover; }
  .activity .games {
    background: url("../images/ideas_bg4.jpg") 100% 100% no-repeat;
    background-size: cover; }
  .activity .culture {
    background: url("../images/ideas_bg5.jpg") 100% 100% no-repeat;
    background-size: cover; }
  .activity .relax {
    background: url("../images/ideas_bg6.jpg") 100% 100% no-repeat;
    background-size: cover; }
  .activity .travelling {
    background: url("../images/ideas_bg7.jpg") 100% 100% no-repeat;
    background-size: cover; }

.footer {
  border-top: 5px solid #ff4e50;
  margin-top: 2.3em;
  text-align: center;
  padding: 1.2em; }
  .footer__title {
    color: #ff4e50;
    font-weight: 700; }
  .footer__text {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: .7em;
    margin-bottom: 1em; }

.carousel-cell {
  width: 100%;
  padding: 1em; }

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none;
  /* hide :after */ }

.flickity-page-dots {
  display: none; }

.flickity-prev-next-button {
  background: none !important;
  display: none; }

.flickity-prev-next-button .arrow {
  fill: #d4d4d4; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 18px; }
  .title {
    margin: 0;
    padding-top: 1.2em;
    float: left; }
  .header {
    min-height: 700px; }
  .section {
    max-width: 948px;
    margin: 0 auto; }
    .section-row {
      overflow: hidden;
      padding: 1em 1.5em; }
    .section__text {
      font-family: 'Roboto', sans-serif;
      font-size: 1.3em;
      padding: 3px 35px;
      line-height: 1.5em;
      margin: .6em; }
    .section__title {
      font-size: 1.2em; }
    .section__button {
      padding: .4em 1.4em;
      font-size: .5em;
      letter-spacing: 1px; }
    .section__name {
      margin: 0; }
  .flickity-prev-next-button {
    display: inline-block; }
  .big-button {
    width: 16em;
    padding: .6em 0;
    text-transform: none;
    font-size: inherit;
    font-size: .8em;
    margin-top: .7em; }
  .signUp {
    margin-left: 1em;
    padding: .5em 1.2em; }
  .actions {
    float: right;
    font-size: .8em; }
  .special-title {
    margin-top: 2.5em;
    font-size: 2.8em;
    font-weight: 700;
    padding: 0 2.4em; }
  .block {
    display: flex;
    justify-content: space-between; }
    .block__item {
      width: 31%;
      height: 400px;
      padding-top: 10.8em; }
    .block__title {
      font-size: 1.3em; }
    .block__text {
      font-size: .73em;
      padding: 0;
      margin: 0; }
  .flickity-prev-next-button {
    width: 72px;
    height: 67px;
    position: absolute;
    top: 4em; }
    .flickity-prev-next-button .previous {
      left: 0px; }
    .flickity-prev-next-button .next {
      right: 0; }
  .partners {
    display: block; }
    .partners__item {
      display: inline-block;
      vertical-align: top; }
      .partners__item-container {
        width: 35%;
        display: inline-block; }
    .partners__button {
      width: 12em;
      padding: .4em;
      margin-top: 2em; }
    .partners__name {
      margin: .7em; }
  .interest {
    padding-bottom: 2.8em;
    margin-top: 3em; }
    .interest__title {
      margin-bottom: 1.6em; }
    .interest__input {
      margin-right: 1em;
      width: 15em; }
    .interest__button {
      width: 11em; }
  .activity {
    width: 100%; }
    .activity__item {
      display: inline-flex;
      height: 300px;
      margin: 5px;
      background-size: cover !important;
      vertical-align: middle; }
      .activity__item--1 {
        width: 31%; }
      .activity__item--2 {
        width: 65%; }
    .activity__title {
      padding-top: 0; }
  .footer-section {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    max-width: 948px;
    margin: 0 auto; }
  .footer__text {
    text-align: right; }
  .navigation {
    text-align: left;
    line-height: 1.7em;
    font-size: .8em;
    margin-top: .6em; }
    .navigation__item {
      display: block;
      padding: 0; }
  .logo {
    margin-right: 10px; } }

@media only screen and (min-width: 948px) {
  .partners-container {
    display: flex;
    justify-content: space-around; }
  .partners__item {
    width: 85px; }
    .partners__item-container {
      width: 20%; }
  .footer__item:last-child {
    margin-left: 16em; }
  .flickity-prev-next-button {
    top: 10em; }
  .partners__text {
    width: 200%;
    margin-left: -45px; } }
