.activity {
  width: 18.5em;
  margin: 0 auto;
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: .6em;
    width: 100%;
    border: 3px solid red;
    box-sizing: border-box;
  }

  &__title {
    color: #fff;
    padding: 0;
  }

  & .sport {
    background: url('../images/ideas_bg1.jpg') 100% 100% no-repeat;
    background-size: cover;
  }

  & .health {
    background: url('../images/ideas_bg2.jpg') 100% 100% no-repeat;
    background-size: cover;
  }

  & .extreme {
    background: url('../images/ideas_bg3.jpg') 100% 100% no-repeat;
    background-size: cover;
  }

  & .games {
    background: url('../images/ideas_bg4.jpg') 100% 100% no-repeat;
    background-size: cover;
  }

  & .culture {
    background: url('../images/ideas_bg5.jpg') 100% 100% no-repeat;
    background-size: cover;
  }

  & .relax {
    background: url('../images/ideas_bg6.jpg') 100% 100% no-repeat;
    background-size: cover;
  }

  & .travelling {
    background: url('../images/ideas_bg7.jpg') 100% 100% no-repeat;
    background-size: cover;
  }
}
