@media only screen and (min-width: 768px)  {
  body {
    font-size: 18px;
  }

  .title {
    margin: 0;
    padding-top: 1.2em;
    float: left;
  }

  .header {
    min-height: 700px;
  }

  .section {
    max-width: 948px;
    margin: 0 auto;
    &-row {
      overflow: hidden;
      padding: 1em 1.5em;
    }
    
    &__text {
      font-family: 'Roboto', sans-serif;
      font-size: 1.3em;
      padding: 3px 35px;
      line-height: 1.5em;
      margin: .6em;
    }

    &__title {
      font-size: 1.2em;
      // padding-top: 4.2em;
      // padding-bottom: 1.5em;
      // line-height: 1.3em;
    }

    &__button {
      padding: .4em 1.4em;
      font-size: .5em;
      letter-spacing: 1px;
    }

    &__name {
      margin: 0;
    }
  }

  .flickity-prev-next-button {
    display: inline-block;
  } 

  .big-button {
    width: 16em;
    padding: .6em 0;
    text-transform: none;
    font-size: inherit;
    font-size: .8em;
    margin-top: .7em;
  }

  .signUp {
    margin-left: 1em;
    padding: .5em 1.2em;
  }

  .actions {
    float: right;
    font-size: .8em;
  }

  .special-title {
    margin-top: 2.5em;
    font-size: 2.8em;
    font-weight: 700;
    padding: 0 2.4em;
  }

  .block {
    display: flex;
    justify-content: space-between;

    &__item {
      width: 31%;
      height: 400px;
      padding-top: 10.8em;
    }

    &__title {
      font-size: 1.3em;
    }

    &__text {
      font-size: .73em;
      padding: 0;
      margin: 0;
    }

  }

  .flickity-prev-next-button {
    width: 72px;
    height: 67px;
    position: absolute;
    top: 4em;

    & .previous {
      left: 0px;
    }

    & .next {
      right: 0;
    }
    
  }

  .partners {
    display: block;

    &__item {
      display: inline-block;
      vertical-align: top;
     
      &-container {
        width: 35%;
        display: inline-block;
      }
    }

    &__button {
      width: 12em;
      padding: .4em;
      margin-top: 2em;
    }

    &__name {
      margin: .7em;
    }
  }

  .interest {
    padding-bottom: 2.8em;
    margin-top: 3em;
    
    &__title {
      margin-bottom: 1.6em;
    }

    &__input {
      margin-right: 1em;
      width: 15em;
    }

    &__button {
      width: 11em;
    }
  }

  .activity { 
    width: 100%;
  
    &__item {
      display: inline-flex;
      height: 300px;
      margin: 5px;
      background-size: cover;
      vertical-align: middle;

      &--1 {
        width: 31%; 
      }

      &--2 { 
        width: 65%; 
      }
    }

    &__title {
      padding-top: 0;
    }
  }

  .footer {
    
    // margin-top: 5em;
    &-section {
      display: flex;
      justify-content: space-between;
      padding: 2em;
      max-width: 948px;
      margin: 0 auto;
    }

    &__text {
      text-align: right;
    }
  }

  .navigation {
    text-align: left;
    line-height: 1.7em;
    font-size: .8em;
    margin-top: .6em;

    &__item {
      display: block;
      padding: 0;
    }
  }

  .logo {
    margin-right: 10px;
  }

}

@media only screen and (min-width: 948px) {
  // body {
  //   font-size: 14px;
  // }

  // .big-button {
  //   width: 18em;
  //   padding: .6em;
  // }

  // .header {
  //   min-height: 500px;
  // }

  // .section {
  //   &-row {
  //     padding: 1em 10em;
  //   }

  //   &__title {
  //     padding-top: 3.5em;
  //   }

  //   &__name {
  //     font-size: .6em;
  //   }
  // }

  // .block {
  //   width: 50em;
  //   margin: 0 auto;

  //   &__item {
  //     height: 300px;
  //   }

  // }

  // .special-title {
  //   margin-top: 2em;
  //   font-size: 2.8em;
  //   font-weight: 700;
  //   padding: 0 7.4em;
  // }
  

  // .partners {
  //   &-container {
  //     display: flex;
  //     justify-content: space-around;
  //   }

  //   &__item {
  //     width: 85px;

  //     &-container {
        
  //       width: 20%;
  //     }
  //   }

  //   &__profile img {
  //     width: 100%;
  //   }

  //   &__icon {
  //     width: 30px;
  //     height: 30px;
  //     line-height: 30px;
  //     right: 0;
  //   }

  //   &__name {
  //     margin: 1.5em 0;
  //   }

  //   &__button {
  //     width: 14em;
  //     padding: .6em;
  //     font-size: .7em;
  //     margin-top: 0;
  //   }

  //   &__text {
  //     width: 200%;
  //     margin-left: -45px;
  //   }
  // }

  .footer__item:last-child {
    margin-left: 16em;
  }
    
  .flickity-prev-next-button {
    top: 10em;
  }

}

